In [ ]:
import os
import pandas as pd
from io import StringIO


# file = '2009_AN_NASA/IAMET1B_nav_dc8_20091012_r1.ict'

def combined_ict_to_csv(directory):
    # parse through all files in folder
    all_dfs = []

    for filename in os.listdir(directory): 
        if filename.endswith('.ict'):
            file_path = os.path.join(directory, filename)

            with open(file_path, "r") as f:
                # find header line index
                header_index = None
                all_lines = f.readlines()
                for i, line in enumerate(all_lines):
                    if line.strip().startswith('UTC,LAT,LON') or line.strip().startswith('UTC,Latitude,Longitude'):
                        header_index = i
                        break

                if header_index is None:
                    print(f"⚠️ Warning: {filename} — header not found")
                    continue

                # Read from header onward
                lines = all_lines[header_index:]

            # Convert to DataFrame
            data_str = ''.join(lines)
            # try:
            #     df = pd.read_csv(StringIO(data_str))
            #     all_dfs.append(df)
            # except Exception as e:
            #     print(f"❌ Error reading file: {filename}")
            #     print(f"Error message: {e}")
            #     # optionally, print first few lines to inspect
            #     print("First few lines:")
            #     print(''.join(lines[:5]))
            
            df = pd.read_csv(StringIO(data_str))
            all_dfs.append(df)
    
    # export to CSV
    if all_dfs:
        combined_df = pd.concat(all_dfs, ignore_index=True)
        project_root = os.getcwd()  # current notebook/project folder
        folder_name = os.path.basename(directory)  # e.g., '2009_AN_NASA'
        output_file = os.path.join(project_root, f"data_{folder_name}.csv")
        combined_df.to_csv(output_file, index=False)
        print(f"✅ Combined {len(all_dfs)} files into {output_file}")

In [ ]:
# combined_ict_to_csv('2009_AN_NASA')
# combined_ict_to_csv('2010_AN_NASA')  
# combined_ict_to_csv('2011_AN_NASA')  
# combined_ict_to_csv('2012_AN_NASA')

In [1]:
import pandas as pd

file = 'data/data_2009_AN_NASA.csv'
df = pd.read_csv(file)

df.head()

,UTC,LAT,LON,GPS_ALT,PRESSURE_ALT,GROUND_SPD,TRUE_AIR_SPD,IND_AIR_SPD,MACH,VERT_SPD,...,PART_PRES_ICE,REL_HUM_H2O,REL_HUM_ICE,SAT_VP_H2O,SAT_VP_ICE,SUN_ELEV_EARTH,SUN_ELEV_PLANE,SUN_AZM_EARTH,SUN_AZM_PLANE,SOLAR_ZEN_ANGLE
0,43140,-53.00045,-70.835724,52.0,823.0,11.6,26.2,51.1,0.078,29.3,...,6.8278,76.9618,74.2271,8.7595,9.1985,23.9,23.2,79.6,169.2,66.1
1,43141,-53.00045,-70.835896,52.0,826.0,11.6,30.8,60.9,0.092,24.4,...,6.7724,77.4842,74.8044,8.6381,9.0534,23.9,23.3,79.6,169.2,66.1
2,43142,-53.00045,-70.836067,51.9,826.0,15.2,30.8,60.9,0.092,24.4,...,6.7724,77.4842,74.8044,8.6381,9.0534,23.9,23.3,79.6,169.0,66.1
3,43143,-53.00045,-70.836411,51.9,829.0,15.2,35.0,68.8,0.105,19.5,...,6.7173,76.9288,74.1968,8.6381,9.0534,23.9,23.3,79.6,169.0,66.1
4,43144,-53.00045,-70.836754,51.9,829.0,19.2,35.6,70.0,0.106,19.5,...,6.7173,76.9288,74.1968,8.6381,9.0534,23.9,23.3,79.6,169.2,66.1

In [4]:
file2 = 'data/data_2011_AN_NASA.csv'
df2 = pd.read_csv(file2)

df2.head()

,UTC,Latitude,Longitude,GPS_Altitude,Pressure_Altitude,Radar_Altitude,Ground_Speed,True_Air_Speed,Indicated_Air_Speed,Mach_Number,...,Aircraft_Sun_Azimuth,Mixing_Ratio,Part_Press__Water_Vapor,Sat_Vapor_Press_H2O,Sat_Vapor_Press_Ice,Relative_Humidity,Part_Press__Water_Vap_H2O,Part_Press__Water_Vap_Ice,Relative_Humidity_H2O,Relative_Humidity_Ice
0,43279,-53.000637,-70.834722,43.23,151,-9999.0,2.37930,0.00000,0.0625,0.000000,...,160.859,-9999.0,-9999.0,10.2333,10.984,-9999.0,NaN,NaN,NaN,NaN
1,43280,-53.000637,-70.834785,43.23,152,-9999.0,2.37930,0.00000,0.0625,0.000000,...,160.680,-9999.0,-9999.0,10.2333,10.984,-9999.0,NaN,NaN,NaN,NaN
2,43281,-53.000637,-70.834835,43.23,153,-9999.0,3.08666,0.00000,0.0625,0.000000,...,164.057,-9999.0,-9999.0,10.2333,10.984,-9999.0,NaN,NaN,NaN,NaN
3,43282,-53.000637,-70.834910,43.20,155,-9999.0,3.08666,2.12208,4.8750,0.006375,...,165.253,-9999.0,-9999.0,10.2333,10.984,-9999.0,NaN,NaN,NaN,NaN
4,43283,-53.000637,-70.834982,43.21,156,-9999.0,5.40166,2.73298,6.6875,0.008125,...,166.036,-9999.0,-9999.0,10.2333,10.984,-9999.0,NaN,NaN,NaN,NaN